@tailwind base;
@tailwind components;
@tailwind utilities;


.input-field-style {
    @apply mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.input-error {
    @apply border-orange-500 focus:border-orange-500 focus:ring-orange-500;
}

.input-normal {
    @apply border-gray-300;
}

.label-style {
    @apply block text-sm font-medium text-gray-700
}

.toast-success-style {
    @apply flex items-center gap-2 w-full max-w-2xl px-8 py-1 text-gray-500 bg-green-600 shadow-sm
}

.toast-success-close-btn {
    @apply ms-auto -mx-1.5 -my-1.5 bg-none text-white hover:text-gray-300 p-1.5 inline-flex items-center justify-center h-8 w-8
}   