name: Lint

on:
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Fix file permissions (ESLint binary)
        run: chmod +x node_modules/.bin/eslint

      - name: Run ESLint
        run: npx eslint "src/**/*.js" "public/js/**/*.js" --max-warnings=0
